<a href="https://colab.research.google.com/github/VinceDeilord/CPEN21A-ECE-2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week =["Sunday","Monday","tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
tuesday
Wednesday
Thursday
Friday
Saturday

Break statement

In [12]:
week =["Sunday","Monday","tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
tuesday
Wednesday
Thursday

In [15]:
week =["Sunday","Monday","tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
tuesday
Wednesday

Looping through string

In [16]:
for x in "Python Programming":
  print(x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The range ()function

In [44]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [17]:
for x in range(2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loop

In [22]:
adjective=["red","big","tasty"]
fruit=["apple","banana","cherry"]
for x in adjective:
  for y in fruit:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [23]:
i=1
while i<6:
  print(i)
  i+=1#Assignment Operator for addition

1
2
3
4
5

The break statement

In [25]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The Continue statement

In [26]:
i=0
while i<6:
  i+=1 #Assignment Operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [31]:
i=1
while i<6:
  print(i)
  i+=1 #Asssignment Operator for addition
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application 1

In [42]:
#Create a Python that displays Hello 0 to Hello 10 in vertical sequence
#for loop
word=["Hello"]
range(11)
for x in word:
  for y in range(11):
    print(x,y)

#for x in hello:
  #for y in num:
    #print(x,y):

#while loop
i=0
while i<=10:
  print("Hello",i)
  i+=1 #Assignment Operator for addition

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [43]:
#Create a Python program that displays integers less than 10 but not less than 3

for x in range(3,10):
  print(x)

3
4
5
6
7
8
9